.mainstripe
  position: relative
  height: 100vh
  width: 100vw
  color: white
  overflow: hidden
  .imgBack
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
    width: 100%
    background-size: cover
    background-position: center center
    img
      width: 100%
      height: 100%
  .overlay
    position: absolute
    top: 0
    background: rgba(0,0,0,0.4)
    height: 100%
    width: 100%
    .register-container
      width: 100%
      background-color: #00ACFF
      position: absolute
      bottom: 0
      left: 0
      height: 15%
      .sign-up
        position: absolute
        width: 100%
        top: 50%
        transform: translateY(-50%)
        text-align: center
      //   left: 50%
      //   transform: translate3d(-50%, -50%, 0)

        // input
        //   width: 50%
        //   display: inline-block
        // button
        //   position: absolute
        //   right: 25%
        //   top: 50%
        //   transform: translate3d(0, -50%, 0)
        //   display: inline-block
