.mainstripe
  .imgBack
    img(src="http://placehold.it/1200x1600")
  .overlay
    .container
      h1 Wabbit
      .register-container
        .sign-up
          .row: .col-sm-4.col-sm-offset-4: .row
            .col-xs-8
              input.form-control(type="text")
            .col-xs-4
              button.btn.btn-primary.register(type="button") Register Now!
